<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingo.spring_bingo.system.dao.SysOrgUserMapper" >
    <resultMap id="BaseResultMap" type="com.bingo.spring_bingo.system.model.SysOrgUser">
        <id     property="fdId"             column="fd_id"></id>
        <result property="fdName"           column="fd_name"></result>
        <result property="fdNamePinYin"     column="fd_name_pin_yin"></result>
        <result property="fdNo"             column="fd_no"></result>
        <result property="fdOrder"          column="fd_order"></result>
        <result property="fdIsAvailable"    column="fd_is_available"></result>
        <result property="fdMemo"           column="fd_memo"></result>
        <result property="fdCreateTime"     column="fd_create_time"></result>
        <result property="fdAlterTime"      column="fd_alter_time"></result>
        <result property="fdEmail"          column="fd_email"></result>
        <result property="fdMobileNo"       column="fd_mobile_no"></result>
        <result property="fdLoginName"      column="fd_login_name"></result>
        <result property="fdNickName"       column="fd_nick_name"></result>
        <result property="fdWorkPhone"      column="fd_work_phone"></result>
        <result property="fdWechatNo"       column="fd_wechat_no"></result>
        <result property="fdSex"            column="fd_sex"></result>
        <result property="fdPassword"       column="fd_password"></result>
        <result property="fdLastChangePwd"  column="fd_last_change_pwd"></result>
        <result property="fdBirthday"       column="fd_birthday"></result>
        <result property="fdIsLock"         column="fd_is_lock"></result>
        <result property="fdLockTime"       column="fd_lock_time"></result>

        <association property="fdUserDept" column="fd_dept_id" fetchType="lazy"
                     javaType="com.bingo.spring_bingo.system.model.SysOrgDept"
                     select="com.bingo.spring_bingo.system.dao.SysOrgDeptMapper.findByPrimaryKey"></association>

        <collection property="fdUserRole" column="fd_id" fetchType="lazy"
                    javaType="java.util.ArrayList"
                    ofType="com.bingo.spring_bingo.system.model.SysOrgRole"
                    select="com.bingo.spring_bingo.system.dao.SysOrgRoleMapper.findUserRole"></collection>

        <collection property="fdUserPost" column="fd_id" fetchType="lazy"
                    javaType="java.util.ArrayList"
                    ofType="com.bingo.spring_bingo.system.model.SysOrgPost"
                    select="com.bingo.spring_bingo.system.model.SysOrgPost.findUserPost"></collection>
    </resultMap>

    <sql id="BaseSql">
        ${mark}.fd_id, ${mark}.fd_name, ${mark}.fd_name_pin_yin, ${mark}.fd_no,${mark}.fd_order,
        ${mark}.fd_is_available, ${mark}.fd_memo, ${mark}.fd_create_time,${mark}.fd_alter_time,
        ${mark}.fd_email, ${mark}.fd_mobile_no, ${mark}.fd_login_name,${mark}.fd_nick_name,
        ${mark}.fd_work_phone, ${mark}.fd_wechat_no, ${mark}.fd_sex,${mark}.fd_password,
        ${mark}.fd_last_change_pwd, ${mark}.fd_birthday, ${mark}.fd_is_lock,${mark}.fd_lock_time,
        ${mark}.fd_dept_id
    </sql>

    <select id="findByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_user" />
        </include>
        from sys_org_user where sys_org_user.fd_id = #{primaryKey}
    </select>

    <select id="findDeptUser" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_user" />
        </include>
        from sys_org_user where sys_org_user.fd_dept_id = #{fdDeptId}
    </select>

    <select id="findByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_user" />
        </include>
        from sys_org_user where sys_org_user.fd_login_name = #{loginName}
    </select>

    <insert id="insert" parameterType="com.bingo.spring_bingo.system.model.SysOrgUser">
        insert into sys_org_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fdId != null and fdId !=''">
                fd_id,
            </if>
            <if test="fdName != null and fdName !=''">
                fd_name,
            </if>
            <if test="fdNamePinYin != null and fdNamePinYin !=''">
                fd_name_pin_yin,
            </if>
            <if test="fdNo != null and fdNo !=''">
                fd_no,
            </if>
            <if test="fdOrder != null">
                fd_order,
            </if>
            <if test="fdIsAvailable != null and fdIsAvailable !=''">
                fd_is_available,
            </if>
            <if test="fdMemo != null and fdMemo !=''">
                fd_memo,
            </if>
            <if test="fdCreateTime != null">
                fd_create_time,
            </if>
            <if test="fdAlterTime != null">
                fd_alter_time,
            </if>
            <if test="fdEmail != null and fdEmail !=''">
                fd_email,
            </if>
            <if test="fdMobileNo != null and fdMobileNo !=''">
                fd_mobile_no,
            </if>
            <if test="fdLoginName != null and fdLoginName !=''">
                fd_login_name,
            </if>
            <if test="fdNickName != null and fdNickName !=''">
                fd_nick_name,
            </if>
            <if test="fdWorkPhone != null and fdWorkPhone !=''">
                fd_work_phone,
            </if>
            <if test="fdWechatNo != null and fdWechatNo !=''">
                fd_wechat_no,
            </if>
            <if test="fdSex != null and fdSex !=''">
                fd_sex,
            </if>
            <if test="fdPassword != null and fdPassword !=''">
                fd_password,
            </if>
            <if test="fdLastChangePwd != null">
                fd_last_change_pwd,
            </if>
            <if test="fdBirthday != null">
                fd_birthday,
            </if>
            <if test="fdIsLock != null and fdIsLock !=''">
                fd_is_lock,
            </if>
            <if test="fdLockTime != null">
                fd_lock_time,
            </if>
            <if test="fdUserDept != null">
                fd_dept_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fdId != null and fdId !=''">
                #{fdId},
            </if>
            <if test="fdName != null and fdName !=''">
                #{fdName},
            </if>
            <if test="fdNamePinYin != null and fdNamePinYin !=''">
                #{fdNamePinYin},
            </if>
            <if test="fdNo != null and fdNo !=''">
                #{fdNo},
            </if>
            <if test="fdOrder != null">
                #{fdOrder},
            </if>
            <if test="fdIsAvailable != null and fdIsAvailable !=''">
                #{fdIsAvailable},
            </if>
            <if test="fdMemo != null and fdMemo !=''">
                #{fdMemo},
            </if>
            <if test="fdCreateTime != null">
                #{fdCreateTime},
            </if>
            <if test="fdAlterTime != null">
                #{fdAlterTime},
            </if>
            <if test="fdEmail != null and fdEmail !=''">
                #{fdEmail},
            </if>
            <if test="fdMobileNo != null and fdMobileNo !=''">
                #{fdMobileNo},
            </if>
            <if test="fdLoginName != null and fdLoginName !=''">
                #{fdLoginName},
            </if>
            <if test="fdNickName != null and fdNickName !=''">
                #{fdNickName},
            </if>
            <if test="fdWorkPhone != null and fdWorkPhone !=''">
                #{fdWorkPhone},
            </if>
            <if test="fdWechatNo != null and fdWechatNo !=''">
                #{fdWechatNo},
            </if>
            <if test="fdSex != null and fdSex !=''">
                #{fdSex},
            </if>
            <if test="fdPassword != null and fdPassword !=''">
                #{fdPassword},
            </if>
            <if test="fdLastChangePwd != null">
                #{fdLastChangePwd},
            </if>
            <if test="fdBirthday != null">
                #{fdBirthday},
            </if>
            <if test="fdIsLock != null and fdIsLock !=''">
                #{fdIsLock},
            </if>
            <if test="fdLockTime != null">
                #{fdLockTime},
            </if>
            <if test="fdUserDept != null">
                #{fdUserDept.fdId},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.bingo.spring_bingo.system.model.SysOrgUser">
        update sys_org_user
        <set>
            <if test="fdName != null and fdName !=''">
                fd_name = #{fdName},
            </if>
            <if test="fdNamePinYin != null and fdNamePinYin !=''">
                fd_name_pin_yin = #{fdNamePinYin},
            </if>
            <if test="fdNo != null and fdNo !=''">
                fd_no = #{fdNo},
            </if>
            <if test="fdOrder != null">
                fd_order = #{fdOrder},
            </if>
            <if test="fdIsAvailable != null and fdIsAvailable !=''">
                fd_is_available = #{fdIsAvailable},
            </if>
            <if test="fdMemo != null and fdMemo !=''">
                fd_memo = #{fdMemo},
            </if>
            <if test="fdAlterTime != null">
                fd_alter_time = #{fdAlterTime},
            </if>
            <if test="fdEmail != null and fdEmail !=''">
                fd_email = #{fdEmail},
            </if>
            <if test="fdMobileNo != null and fdMobileNo !=''">
                fd_mobile_no = #{fdMobileNo},
            </if>
            <if test="fdLoginName != null and fdLoginName !=''">
                fd_login_name = #{fdLoginName},
            </if>
            <if test="fdNickName != null and fdNickName !=''">
                fd_nick_name = #{fdNickName},
            </if>
            <if test="fdWorkPhone != null and fdWorkPhone !=''">
                fd_work_phone = #{fdWorkPhone},
            </if>
            <if test="fdWechatNo != null and fdWechatNo !=''">
                fd_wechat_no = #{fdWechatNo},
            </if>
            <if test="fdSex != null and fdSex !=''">
                fd_sex = #{fdSex},
            </if>
            <if test="fdPassword != null and fdPassword !=''">
                fd_password = #{fdPassword},
            </if>
            <if test="fdLastChangePwd != null">
                fd_last_change_pwd = #{fdLastChangePwd},
            </if>
            <if test="fdBirthday != null">
                fd_birthday = #{fdBirthday},
            </if>
            <if test="fdIsLock != null and fdIsLock !=''">
                fd_is_lock = #{fdIsLock},
            </if>
            <if test="fdLockTime != null">
                fd_lock_time = #{fdLockTime},
            </if>
            <if test="fdUserDept != null">
                fd_dept_id = #{fdUserDept.fdId},
            </if>
        </set>
        where fd_id = #{fdId}
    </update>
</mapper>