<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingo.spring_bingo.system.dao.SysOrgUserMapper" >
    <resultMap id="BaseResultMap" type="com.bingo.spring_bingo.system.model.SysOrgUser">
        <id     property="fdId"             column="fd_id"></id>
        <result property="fdName"           column="fd_name"></result>
        <result property="fdNamePinYin"     column="fd_name_pin_yin"></result>
        <result property="fdNo"             column="fd_no"></result>
        <result property="fdOrder"          column="fd_order"></result>
        <result property="fdIsAvailable"    column="fd_is_available"></result>
        <result property="fdMemo"           column="fd_memo"></result>
        <result property="fdCreateTime"     column="fd_create_time"></result>
        <result property="fdAlterTime"      column="fd_alter_time"></result>
        <result property="fdEmail"          column="fd_email"></result>
        <result property="fdMobileNo"       column="fd_mobile_no"></result>
        <result property="fdLoginName"      column="fd_login_name"></result>
        <result property="fdNickName"       column="fd_nick_name"></result>
        <result property="fdWorkPhone"      column="fd_work_phone"></result>
        <result property="fdWechatNo"       column="fd_wechat_no"></result>
        <result property="fdSex"            column="fd_sex"></result>
        <result property="fdPassword"       column="fd_password"></result>
        <result property="fdLastChangePwd"  column="fd_last_change_pwd"></result>
        <result property="fdBirthday"       column="fd_birthday"></result>
        <result property="fdIsLock"         column="fd_is_lock"></result>
        <result property="fdLockTime"       column="fd_lock_time"></result>

        <association property="fdUserDept" column="fd_dept_id" fetchType="lazy"
                     javaType="com.bingo.spring_bingo.system.model.SysOrgDept"
                     select="com.bingo.spring_bingo.system.dao.SysOrgDeptMapper.findByPrimaryKey"></association>

        <collection property="fdUserRole" column="fd_id" fetchType="lazy"
                    javaType="java.util.ArrayList"
                    ofType="com.bingo.spring_bingo.system.model.SysOrgRole"
                    select=""></collection>

        <collection property="fdUserPost" column="fd_id" fetchType="lazy"
                    javaType="java.util.ArrayList"
                    ofType="com.bingo.spring_bingo.system.model.SysOrgPost"
                    select=""></collection>
    </resultMap>

    <sql id="BaseSql">
        ${mark}.fd_id, ${mark}.fd_name, ${mark}.fd_name_pin_yin, ${mark}.fd_no,${mark}.fd_order,
        ${mark}.fd_is_available, ${mark}.fd_memo, ${mark}.fd_create_time,${mark}.fd_alter_time,
        ${mark}.fd_email, ${mark}.fd_mobile_no, ${mark}.fd_login_name,${mark}.fd_nick_name,
        ${mark}.fd_work_phone, ${mark}.fd_wechat_no, ${mark}.fd_sex,${mark}.fd_password,
        ${mark}.fd_last_change_pwd, ${mark}.fd_birthday, ${mark}.fd_is_lock,${mark}.fd_lock_time,
        ${mark}.fd_dept_id
    </sql>

    <select id="findByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_user" />
        </include>
        from sys_org_user where sys_org_user.fd_id = #{primaryKey}
    </select>

    <select id="findByDeptId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_user" />
        </include>
        from sys_org_user where sys_org_user.fd_dept_id = #{fdDeptId}
    </select>
</mapper>