<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingo.spring_bingo.system.dao.SysOrgMenuMapper">
    <resultMap id="BaseResultMap" type="com.bingo.spring_bingo.system.model.SysOrgMenu">
        <id     property="fdId"             column="fd_id"></id>
        <result property="fdName"           column="fd_name"></result>
        <result property="fdNamePinYin"     column="fd_name_pin_yin"></result>
        <result property="fdNo"             column="fd_no"></result>
        <result property="fdOrder"          column="fd_order"></result>
        <result property="fdIsAvailable"    column="fd_is_available"></result>
        <result property="fdMemo"           column="fd_memo"></result>
        <result property="fdCreateTime"     column="fd_create_time"></result>
        <result property="fdAlterTime"      column="fd_alter_time"></result>
        <result property="fdMenuType"       column="fd_menu_type"></result>
        <result property="fdAuthMark"       column="fd_auth_mark"></result>

        <!--父级-->
        <association property="fdParent" column="fd_parent_id" fetchType="lazy"
                     javaType="com.bingo.spring_bingo.system.model.SysOrgMenu"
                     select="findByPrimaryKey"></association>

        <!--子级-->
        <collection property="fdChildren" column="fd_id" fetchType="lazy"
                    javaType="java.util.ArrayList"
                    ofType="com.bingo.spring_bingo.system.model.SysOrgMenu"
                    select="findChildren"></collection>
    </resultMap>

    <sql id="BaseSql">
        ${mark}.fd_id, ${mark}.fd_name, ${mark}.fd_name_pin_yin, ${mark}.fd_no,${mark}.fd_order,
        ${mark}.fd_is_available, ${mark}.fd_memo, ${mark}.fd_create_time,${mark}.fd_alter_time,
        ${mark}.fd_menu_type, ${mark}.fd_auth_mark, ${mark}.fd_parent_id
    </sql>

    <select id="findByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_menu" />
        </include>
        from sys_org_menu where sys_org_menu.fd_id = #{primaryKey}
    </select>

    <select id="findChildren" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_menu" />
        </include>
        from sys_org_menu where sys_org_menu.fd_parent_id = #{primaryKey}
    </select>

    <select id="findRoleMenu" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_menu" />
        </include>
        from sys_org_menu, role_menu
        where sys_org_menu.fd_id = role_menu.fd_menu_id and role_menu.fd_role_id = #{fdRoleId}
    </select>
</mapper>