<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bingo.spring_bingo.system.dao.SysOrgOrgMapper">
    <resultMap id="BaseResultMap" type="com.bingo.spring_bingo.system.model.SysOrgOrg">
        <id     property="fdId"             column="fd_id"></id>
        <result property="fdName"           column="fd_name"></result>
        <result property="fdNamePinYin"     column="fd_name_pin_yin"></result>
        <result property="fdNo"             column="fd_no"></result>
        <result property="fdOrder"          column="fd_order"></result>
        <result property="fdIsAvailable"    column="fd_is_available"></result>
        <result property="fdMemo"           column="fd_memo"></result>
        <result property="fdCreateTime"     column="fd_create_time"></result>
        <result property="fdAlterTime"      column="fd_alter_time"></result>

        <!--本级领导-->
        <association property="fdThisLeader" column="fd_this_leader" fetchType="lazy"
                     javaType="com.bingo.spring_bingo.system.model.SysOrgUser"
                     select="com.bingo.spring_bingo.system.dao.SysOrgUserMapper.findByPrimaryKey"></association>

        <!--父机构-->
        <association property="fdParent" column="fd_parent_id" fetchType="lazy"
                     javaType="com.bingo.spring_bingo.system.model.SysOrgOrg"
                     select="findByPrimaryKey"></association>

        <!--子机构-->
        <collection property="fdChildren" column="fd_id" fetchType="lazy"
                    javaType="java.util.ArrayList"
                    ofType="com.bingo.spring_bingo.system.model.SysOrgOrg"
                    select="findChildren"></collection>

        <!--机构下部门-->
        <collection property="fdOrgDept" column="fd_id" fetchType="lazy"
                    javaType="java.util.ArrayList"
                    ofType="com.bingo.spring_bingo.system.model.SysOrgDept"
                    select="com.bingo.spring_bingo.system.dao.SysOrgDeptMapper.findByOrgId"></collection>
    </resultMap>

    <sql id="BaseSql">
        ${mark}.fd_id, ${mark}.fd_name, ${mark}.fd_name_pin_yin, ${mark}.fd_no,${mark}.fd_order,
        ${mark}.fd_is_available, ${mark}.fd_memo, ${mark}.fd_create_time,${mark}.fd_alter_time,
        ${mark}.fd_this_leader, ${mark}.fd_parent_id
    </sql>

    <select id="findByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_org" />
        </include>
        from sys_org_org where sys_org_org.fd_id = #{primaryKey}
    </select>

    <select id="findChildren" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseSql">
            <property name="mark" value="sys_org_org" />
        </include>
        from sys_org_org where sys_org_org.fd_parent_id = #{primaryKey}
    </select>

</mapper>